.modalBack {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModalView {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    max-width: 350px;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #edc502;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-weight: bold;
}

p {
    font-weight: normal;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    background-color: transparent;
    cursor: pointer;
}