* {
    font-family: 'Roboto', sans-serif;
}


.main {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    font-size: 3rem;
    color: #3b4a5aff;
}

.main_header {
    background-image: url(/public/bg4.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18rem;
}

.library {
    margin: 3rem;

}

.search-book {
    padding: 1rem 0 1rem 0;
}

.search-form_container {
    margin: 1.5rem;
}

.search-form_results {
    display: grid;
}

.search-form {
    padding: 1rem;
    display: flex;
}

.search-form input, button {
    display: flex;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    border: grey solid 1px;
}

input {
    width: 12rem;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #3b4a5aff;
    color: white;
    transition: background-color 0.5s;
}

button:active {
    top: 2px;
}

.thumbnail {
    width: 2rem;
    cursor: zoom-in;
    padding-left: 1rem;
}

.thumbnail:hover {
    transform: scale(2);
    transition: transform 0.5s;
}


p {
    font-size: 12px;
    overflow: auto;
}


/*TABLE*/
/*ADD BOOK - to my library*/


.books-table_content, .books-table_delete {
    height: 3rem;
}

.books-table_delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #c0c0c0;
}

th {
    padding: 0.5rem;
}

tbody tr:nth-child(odd) {
    background-color: #dcdcdc;
}

tbody tr:nth-child(even) {
    background-color: #F5F5F5;
}

tbody tr {
    background-color: grey;
}

td {
    padding: 0 0.5rem;
}

footer {
    background-color: #edc501ff;
    border-top: #2F4F4F solid 1rem;
    color: #3b4a5aff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10rem;
}

footer img {
    width: 6rem;
}

.personal-infos {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

.links {
    display: flex;
    font-weight: bold;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem;
}

.links a {
    text-decoration: none;
    color: #3b4a5aff;
    padding-top: 1rem;
}


@media screen and (max-width: 768px) {

    h1 {
        font-size: 2rem;
        margin: 0;
    }

    .main_header {
        height: 12rem;
    }


    .library {
        margin: 0;
    }

    .search-form_results, .add-book_table {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .books-table th,
    .books-table td {
        border: 1px solid black;
    }


    .add-form_container {
        flex-direction: column;
        align-items: center;
    }

    .add-form {
        margin: 1rem;
    }

    .search-form_container {
        margin: 0;
    }

    td {
        padding: 0;
        text-align: center;

    }

    footer {
        z-index: -1;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 8rem;
        font-size: 12px;
    }

    footer img {
        display: none;
    }
}