* {
    font-family: 'Roboto', sans-serif;
}


.main {
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 3rem;
    color: #2F4F4F;
}

.main_header {
    background-image: url(/public/bgBooks.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 18rem;
}

.library {
    margin: 3rem;

}

.search-book, .add-book {
    padding: 1rem;
}

/*SEARCH BOOK - from api*/

.search-form_container {
    margin: 1.5rem;
}

.search-form_results {
    display: grid;
}

.search-form, .add-form_container {
    padding: 1rem;
    display: flex;
}

.search-form input, button, .add-form_container input, button {
    display: flex;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    border: grey solid 1px;
}

.thumbnail {
    width: 2rem;
    cursor: zoom-in;
    align-items: center;
}

/*ADD BOOK - to my library*/

.add-book_table {
    display: grid;
}

.books-table_content, .books-table_delete {
    height: 3rem;
}

.books-table_delete {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*TABLE*/
th {
    padding: 0.5rem;

}

tbody tr:nth-child(odd) {
    background-color: #dcdcdc;
}

tbody tr:nth-child(even) {
    background-color: #F5F5F5;
}

tbody tr {
    background-color: grey;
}

table {
    background-color: #c0c0c0;
}


@media screen and (max-width: 768px) {


    .library {
        margin: 0;
    }

    .books-table th,
    .books-table td {
        border: 1px solid black;
        display: block;
        width: 100%;
        box-sizing: border-box;
    }

    .books-table thead {
        display: none;
    }

    .books-table tr {
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

    .books-table td {
        border-bottom: 1px solid #ddd;
    }

    .add-form_container {
        flex-direction: column;
        align-items: center;
    }

    .add-form {
        margin: 1rem;
    }

    .search-form_container {
        margin: 0;
    }
}